

  
  <!-- new login interface -->
  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>
    
    <div class="col-md-4">
      <section class="login-form">
        <form method="post" action="/home" role="login">
          <h1>Please Sign In</h1>
          <input [(ngModel)]="email" name="email" type="email"  placeholder="Email" required class="form-control input-lg"/>
          
          <input [(ngModel)]="password" name="password" type="password" class="form-control input-lg" id="password" placeholder="Password" required="" />
          
          <a (click)="login()"class="btn btn-lg btn-primary btn-block">Sign in</a>
          <div>
            <a href="/register">Create account</a> or <a href="/passwordReset">Reset Password</a>
          </div>
          
        </form>
       
      </section>  
      </div>
</div>


 <!--Modal-->
 <div class="modal" id="loginModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Invalid Login!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="this.router.navigate(['/'])" data-dismiss="modal" class="btn btn-danger">Ok</button>
      </div>
    </div>
  </div>
</div>