#changePW {
    margin: 3em;
    background-color: rgba(151, 151, 151, 0.178);
    border: 2px solid ;
    border-radius: 5px;
    padding: 1.5em;
}

#changePWBtn {
    color: #ffffff;
}

#cancelBtn {
    color: #ffffff;
}