<div class="row" id="changePW">
  <div class="container" id="pwd-container" align="center">
    <div class="col-md-4" >
      <section class="login-form">
        <form method="post" role="login">
          <h1>Change Your Password</h1>
          <input [(ngModel)]="oldpassword" type="password" name="oldpass" placeholder="Old Password" required class="form-control input-lg"/>
          <input [(ngModel)]="newpassword" type="password" name="newpass" placeholder="New Password" required class="form-control input-lg"/>
          <input [(ngModel)]="confnewpassword" type="password" name="confnewpass" placeholder="Confirm New Password" required class="form-control input-lg"/>
          <!-- <div *ngIf="checker" >Your passwords must match.</div> -->

          <div>
            <a (click)="update()" class="btn btn-lg btn-primary btn-block" id="changePWBtn">Change Password</a>
            <a href="./home/profile" class="btn btn-sm btn-secondary btn-block" id="cancelBtn">Cancel</a>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>