textarea {
    resize: none
}

#psot-bnt{
    padding: 10px;
    
}

#creatPostComponent {
    margin: 3em;
    background-color: rgba(151, 151, 151, 0.178);
    border: 2px solid ;
    border-radius: 5px;
    padding: 1.5em;
}