<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <img src="assets/fuscape.png" class="navbar-brand" alt="Friendscape Logo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" ><app-search-bar></app-search-bar> <span class="sr-only">(current)</span></a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="./home/profile">{{user.firstName}} {{user.lastName}}</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="./home/feed">feed...</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">logout</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="./home/profile">edit profile...</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="./">logout...</a>
            </div>
          </li> -->
        <!-- </li> -->
      </ul>
    </div>
  </nav>