<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/home">(website logo)</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home"><app-search-bar></app-search-bar> <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->

        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right"  id="logoutBtn">
        <!-- <li class="nav-item"><img src="./assets/image.png"></li> -->
          
          <li class="nav-item">
            <a class="nav-link" href="/home/profile">profile...</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="/home/feed">feed...</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!-- <a class="dropdown-item" href="#">Action</a> -->
              <a class="dropdown-item" href="/home/profile">edit profile...</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">logout...</a>
            </div>
          </li>
        <!-- </li> -->
      </ul>
    </div>
  </nav>