<div class="container">
  <div class="card hovercard" id="centerDiv">
      <div class="cardheader">
          <!-- What goes here? -->
      </div>
      <div class="avatar">
          <img src="{{uProfilePic}}" alt="profile pic">
      </div>
      <div class="info">
          <div class="desc">First Name: {{user.firstName}}</div>
          <div class="desc">Last Name: {{user.lastName}}</div>
          <div class="desc">Gender: {{user.gender}}</div>
          <div class="desc">Phone: {{user.phoneNumber}}</div>
      </div>

  </div>
</div>
