<div class="container">
    <div class="row" id="pwd-container">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <section class="login-form">
          <form method="post" action="/home" role="login">
            <h1>Reset Your Password</h1>
            <input [(ngModel)]="email" type="email" name="email" placeholder="Email" required class="form-control input-lg"/>
            <div>
              <a (click)="reset()" class="btn btn-lg btn-primary btn-block">Reset Password</a>
              <a href="./" class="btn btn-sm btn-secondary btn-block">Cancel</a>
            </div>
          </form>
        </section>  
        </div>
  </div>
  
  