<div class="container">
    <div class="row" id="pwd-container">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <section class="login-form">
          <form method="post" action="/home" role="login">
            <h1>Reset Your Password</h1>
            <input [(ngModel)]="email" type="email" name="email" placeholder="Email" required class="form-control input-lg"/>
            <div>
              <a (click)="reset()" class="btn btn-lg btn-primary btn-block">Reset Password</a>
              <a href="./" class="btn btn-sm btn-secondary btn-block">Cancel</a>
            </div>
          </form>
        </section>  
        </div>
  </div>
  <!--Modal-->
  <div class="modal" id="passwordModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Password Resest?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>If your email is valid you will recieve an email with a temporary password.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>