<img src="{{uProfilePic}}" alt="profile pic">
<ul>
    <li>First Name: {{uFirstName}}</li><br>
    <li>Last Name: {{uLastName}}</li><br>
    <li>Gender: {{uGender}}</li><br>
    <li>Orientation: {{uOrientation}}</li><br>
    <li>Phone: {{uPhoneNumber}}</li><br>
</ul>

<button id="edit" (click)="editModeToggle()">Edit Profile</button>
<div *ngIf = "editMode">
<app-password-reset></app-password-reset>

<h1>Edit Profile:</h1>
<form>
    <label for="firstname">Firstname: <input type="text" placeholder="{{uFirstName}}" id="firstname"></label><br>
    <label for="lastname">Lastname: <input type="text" placeholder="{{uLastName}}" id="lastname"></label><br>
    <label for="gender">Gender: <input type="radio" name="gender" value = "male">Male
        <input type="radio" name="gender" value = "female">Female    </label><br>
    <label for="orientation">Orientation: <input type="text" placeholder="{{uOrientation}}" id="orientation"></label><br>
    <label for="phone">Phone Number: <input type="text" placeholder="{{uPhoneNumber}}" id="phone"></label>
</form>
