<div class="container">
    <div class="card hovercard" id="centerDiv">
        <div class="cardheader">
            <!-- What goes here? -->
        </div>
        <div class="avatar">
            <div *ngIf='this.user.profileUrl'>
                <img src="{{uProfilePic}}" alt="profile pic">
            </div>
        </div>
        <br><br>
        <div class="info">
            <div class="desc">First Name: {{user.firstName}}</div>
            <div class="desc">Last Name: {{user.lastName}}</div>
            <div class="desc">Gender: {{user.gender}}</div>
            <div class="desc">Phone: {{user.phoneNumber}}</div>
        </div>
        <div class="bottom ">
            <button id="edit" (click)="editModeToggle()" class="btn btn-primary">Edit Profile</button>
        </div>
    </div>
</div>

<div *ngIf="editMode">
    <app-change-password></app-change-password>
    <div align="center" id="editProfile">
        <h1>Edit Profile:</h1>
        <div>
            <form>
                <div class="form-group">
                    <div class="col-sm-5">
                        <label for="firstname">First Name:</label>
                        <input name="firstName" [(ngModel)]="updateUser.firstName" type="text" placeholder="{{user.firstName}}" class="form-control"
                            id="firstname">
                    </div>
                    <div class="col-sm-5">
                        <label for="fName">Last Name:</label>
                        <input type="text" name="lastName" [(ngModel)]="updateUser.lastName" placeholder="{{user.lastName}}" class="form-control"
                            id="lastname">
                    </div>
                    <div>
                        <br/>
                        <label for="gender">Gender:
                            <input type="radio" name="gender" [(ngModel)]="updateUser.gender" value="male">Male
                            <input type="radio" name="gender" [(ngModel)]="updateUser.gender" value="female">Female
                        </label>
                    </div>
                    <div class="col-sm-5">
                        <label for="phone">Phone:</label>
                        <input type="tel" name="phoneNumber" [(ngModel)]="updateUser.phoneNumber" placeholder="{{user.phone}}" class="form-control"
                            id="phone">
                    </div>
                    <div class="col-sm-5">
                        <label for="dob">Date of Birth (YYYY-MM-DD):</label>
                        <input type="date" name="dateOfBirth" [(ngModel)]="updateUser.dateOfBirth" placeholder="{{user.dateOfBirth}}" class="form-control"
                            id="dob">
                    </div>

                </div>
                <div>
                    <a (click)="updateProfile()" class="btn btn-primary" id="submitChanges" align="center">Submit Changes</a>
                    <br />
                </div>
                <div id="uploadPhoto">
                    <input type="file" name="file" id="picture" />
                    <br/>
                    <a (click)="uploadPic()" class="btn btn-primary" id="uploadPhotoBtn">Upload Photo!</a>
                </div>
            </form>
        </div>
    </div>
</div>